#comment-message {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    padding: 50px;
    background-color: #fff;
    border-radius: 3px;
    text-align: center;
}
.comment__message-title {
    font-size: 30px;
    display: block;
}
.more-than-3 {
    display: none;
}